#btn {
    width: 180px;
    font-size: 30px;
    float: right;
    margin: 30px;
}

img {
    margin-left: 180px;
    margin-top: -50px;
}

label {
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#roomNameInput {
    width: 50%;
    text-align: center;
    font-size: 25px;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 1000;
}

#enterRoom {
    width: 150px;
    font-size: 20px !important;
}

#usernameWelcome {
    font-family: 'Teko', sans-serif;
    font-size: 55px;
}

.btn-info {
    margin-left: 20px;
}